<div class="backdrop" *ngIf="open" (click)="close()"></div>

<div class="modal" *ngIf="open">
  <div class="header">
    <div class="title">{{ editing ? 'Editar paciente' : 'Nuevo paciente' }}</div>
    <button class="x" (click)="close()">✕</button>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="body">
    <div class="grid">
      <div class="field">
        <label>Nombre *</label>
        <input formControlName="nombre" placeholder="Ej: Juan" />
        <small *ngIf="form.controls.nombre.touched && form.controls.nombre.invalid">
          Nombre requerido (mín. 2).
        </small>
      </div>

      <div class="field">
        <label>Apellido *</label>
        <input formControlName="apellido" placeholder="Ej: Pérez" />
        <small *ngIf="form.controls.apellido.touched && form.controls.apellido.invalid">
          Apellido requerido (mín. 2).
        </small>
      </div>

      <div class="field">
        <label>CI</label>
        <input formControlName="ci" placeholder="Ej: 6543211" />
      </div>

      <div class="field">
        <label>Fecha nacimiento</label>
        <input type="date" formControlName="fecha_nacimiento" />
      </div>

      <div class="field">
        <label>Teléfono</label>
        <input formControlName="telefono" placeholder="Ej: 77451234" />
      </div>

      <div class="field full">
        <label>Dirección</label>
        <input formControlName="direccion" placeholder="Ej: Av. América #123" />
      </div>
    </div>

    <div class="footer">
      <button type="button" class="btn secondary" (click)="close()">Cancelar</button>
      <button type="submit" class="btn primary" [disabled]="saving">
        {{ saving ? 'Guardando...' : (editing ? 'Actualizar' : 'Crear') }}
      </button>
    </div>
  </form>
</div>
