<div class="card">
  <h2 class="title">Pacientes</h2>

  <div class="top-actions">
    <button class="new" (click)="openNew()">+ Nuevo paciente</button>
  </div>

  <div class="toolbar">
    <input
      [(ngModel)]="q"
      type="text"
      placeholder="Buscar por nombre, apellido o CI"
      (keyup.enter)="buscar()"
    />
    <button (click)="buscar()">Buscar</button>
  </div>

  <div *ngIf="loading" class="loading">Cargando...</div>

  <table *ngIf="!loading && data.length">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre completo</th>
        <th>CI</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of data">
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }} {{ p.apellido }}</td>
        <td>{{ p.ci || '-' }}</td>
        <td>{{ p.telefono || '-' }}</td>
              <td class="actions">
        <button class="secondary" (click)="verHistorial(p)">Historial</button>
        <button (click)="openEdit(p)">Editar</button>
        <button class="danger" (click)="eliminar(p)">Eliminar</button>
      </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && data.length === 0" class="muted">
    Sin resultados
  </div>
</div>

<app-pacientes-form
  [open]="modalOpen"
  [editing]="editing"
  (closed)="closeModal()"
  (saved)="refresh()"
></app-pacientes-form>

<app-success-modal
  [open]="successOpen"
  [message]="successMessage"
  (closed)="successOpen = false"
></app-success-modal>
